.team-inner .team-stat.hidden-stat {
    display: none;
}

.team-outer {
    background-color: var(--color-background);
    padding: 10px;
    border-radius: 18px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    row-gap: 10px;
    margin-bottom: 20px;
}

.grid-full {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2%;
    grid-template-areas:
        'logo line';
}

.grid-extra {
    grid-area: line;
    row-gap: 13px;
}

.team-logo {
    grid-area: logo;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: cover;
}

.team-logo img {
    height: 120%;
    padding: 10px;
}

.team-title {
    box-shadow: var(--box-shadow);
    background-color: var(--color-white);
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 15px;
    position: relative;
    border-radius: 13px;
}

.team-title h1 {
    font-size: 32px;
}

.team-title a {
    position: absolute;
    height: 100%;
    width: fit-content;
    padding: 10px 20px;
    right: 0;
    top: 0;
    border-radius: 0 13px 13px 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: var(--color-primary);
    font-weight: 700;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    white-space: nowrap;
    font-size: 16px;
    border-left: 2px solid var(--color-light);
}

.team-title span {
    transition: all 0.3s ease-in-out;
    margin-right: 5px;
}

.team-title a:hover {
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 2px 2px;
    background-color: var(--color-dark-variant-2);
}

.team-title a:hover span {
    transform: translateX(-10px);
}

.team-inner {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 2%;
}

.team-inner .team-stat,
.team-logo {
    background-color: var(--color-white);
    box-shadow: var(--box-shadow);
    width: 49%;
    padding: 10px 20px;
    margin: 10px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 13px;
}

.team-inner .team-stat p:nth-of-type(1) {
    font-size: 16px;
}

.team-inner .team-stat p:nth-of-type(2) {
    font-size: 20px;
    font-weight: 700;
}

.team-inner .team-stat.info {
    padding: 10px 20px 4px 20px;
}

.team-inner .team-stat.info a {
    height: 100%;
    width: 100%;
    padding: 5px 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-weight: normal;
    gap: 5px;
    color: var(--color-primary);
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    white-space: nowrap;
    font-size: 18px;
    position: relative;
    font-weight: 700;
}

.team-inner .team-stat.info a span {
    transition: all 0.3s ease-in-out;
}

.team-inner .team-stat.info a:hover span {
    transform: translateX(5px);
}

.team-inner .team-stat.team-url {
    padding: 10px 20px 4px 20px;

}

.team-inner .team-stat.team-url a {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: var(--color-primary);
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    font-weight: 700;
    white-space: nowrap;
    padding: 0 10px;
    padding: 4px 20px;
}

.team-inner .team-stat.team-url a span {
    transition: all 0.3s ease-in-out;
    margin-left: 5px;
}

.team-inner .team-stat.team-url a:hover span {
    transform: translateX(10px);
}

.team-outer .team-inner.inner-stats {
    gap: 1%;
    justify-content: center;
}

.team-inner .team-stat.team-stat-small {
    width: 11%;
    padding: 10px 5px;
    box-shadow: var(--box-shadow);
}

.team-inner .team-stat.team-stat-small p:nth-of-type(1) {
    font-size: 14px;
}

.team-inner .team-stat.team-stat-small p:nth-of-type(2) {
    font-size: 18px;
}

.team-stat p:nth-of-type(2) {
    color: var(--color-dark);
}

.grid-extra,
.team-logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.grid-extra .grid-line.team-stat {
    width: 100%;
}

.team-inner>a {
    width: 49%;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    background-color: var(--color-white);
    padding: 15px;
    border-radius: 13px;
    margin: 10px 0;
    box-shadow: var(--box-shadow);
}

.players-ctr {
    border-radius: 18px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 10px;
    margin-bottom: 20px;
    width: 100%;
}

.players-ctr span {
    color: var(--color-dark);
}

.players-table {
    background-color: var(--color-white);
    width: 100%;
    padding: 10px;
    border-radius: 13px;
    box-shadow: var(--box-shadow);
}

table {
    width: 100%;
    text-align: center;
    font-size: 16px;
    border-collapse: collapse;
}

table tr:hover {
    background-color: var(--color-light);
}

table td:nth-of-type(1) {
    width: 10%;
}

table td:nth-of-type(2) {
    width: 56%;
    cursor: pointer;
}

table td:nth-of-type(2):hover a {
    color: var(--color-primary);
    font-weight: 700;
}

table td:nth-of-type(3) {
    width: 17%;
}

table td:nth-of-type(4) {
    width: 17%;
}

table tr:nth-of-type(1) {
    background-color: var(--color-light);
    font-size: 18px;
    line-height: 2;
}

table td:nth-of-type(1),
table th:nth-of-type(1) {
    border-radius: 13px 0 0 13px;
}

table td:nth-of-type(4),
table th:nth-of-type(4) {
    border-radius: 0 13px 13px 0;
}

td {
    position: relative;
}

td span.after {
    position: absolute;
    font-size: 16px;
    top: 50%;
    transform: translateY(-50%);
    transition: all 0.3s ease-in-out;
}

td span.before {
    position: relative;
    font-size: 18px;
    left: 0px;
    top: 50%;
    transform: translateY(15%);
    transition: all 0.3s ease-in-out;
}

td:hover span {
    color: var(--color-primary);
    transition: all 0.3s ease-in-out;
}

td:hover span.after {
    margin-left: 20px;
}

td:hover span.after::after {
    content: 'arrow_forward_ios';
}

td:nth-of-type(2):hover span.before::before {
    content: 'person';
}

td a {
    display: block;
    width: 100%;
}
