/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons+Sharp');

:root {
    --color-primary: #6C9BCF;
    --color-primary-o-05: #6c9acf85;
    --color-danger: #FF0060;
    --color-success: #1B9C85;
    --color-warning: #F7D060;
    --color-white: #fff;
    --color-info-dark: #7d8da1;
    --color-dark: #363949;
    --color-light: rgba(132, 139, 200, 0.18);
    --color-dark-variant: #677483;
    --color-background: #f6f6f9;

    --card-border-radius: 2rem;
    --border-radius-1: 0.4rem;
    --border-radius-2: 1.2rem;

    --card-padding: 1.8rem;
    --padding-1: 1.2rem;

    --box-shadow: 0 2rem 3rem var(--color-light);
}

.dark-mode-variables {
    --color-background: #181a1e;
    --color-white: #202528;
    --color-dark: #edeffd;
    --color-dark-variant: #a3bdcc;
    --color-light: rgba(0, 0, 0, 0.4);
    --box-shadow: 0 2rem 3rem var(--color-light);
}

* {
    margin: 0;
    padding: 0;
    outline: 0;
    appearance: 0;
    border: 0;
    text-decoration: none;
    box-sizing: border-box;
}

html {
    font-size: 14px;
}

::-webkit-scrollbar {
    background: var(--color-background);
    width: 12px;
    max-width: 2.5vw;
    min-width: 1vw;
}

::-webkit-scrollbar-track {
    margin-top: 4.7rem;
    margin-bottom: 0.2rem;
}

::-webkit-scrollbar-thumb {
    background: var(--color-primary-o-05);
    border-radius: 15px;
    background-clip: padding-box;
    box-shadow: var(--box-shadow);
}

::-webkit-scrollbar-thumb:hover {
    background: var(--color-primary);
}

body {
    width: 100vw;
    height: 100vh;
    font-family: 'Poppins', sans-serif;
    font-size: 0.88rem;
    user-select: none;
    overflow-x: hidden;
    color: var(--color-dark);
    background-color: var(--color-background);
}

a {
    color: var(--color-dark);
}

img {
    display: block;
    width: 100%;
    object-fit: contain;
}

h1 {
    font-weight: 800;
    font-size: 1.8rem;
}

h2 {
    font-weight: 600;
    font-size: 1.4rem;
}

h3 {
    font-weight: 500;
    font-size: 0.87rem;
}

small {
    font-size: 0.76rem;
}

p {
    color: var(--color-dark-variant);
}

b {
    color: var(--color-dark);
}

.text-muted {
    color: var(--color-info-dark);
}

.primary {
    color: var(--color-primary);
}

.danger {
    color: var(--color-danger);
}

.success {
    color: var(--color-success);
}

.warning {
    color: var(--color-warning);
}

.container {
    display: grid;
    width: 96%;
    margin: 0 auto;
    gap: 1.5rem;
    grid-template-columns: 12rem auto;
    grid-template-rows: 5rem auto;
    grid-template-areas:
        'aside topnav'
        'aside main';
}

aside {
    height: 100vh;
    display: block;
    grid-area: aside;
    width: 12rem;
    position: fixed;
    z-index: 100;
}

aside .toggle {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1.4rem;
}

aside .toggle .logo {
    display: flex;
    flex-direction: column;
    height: 100%;
    transition: linear 0.2s;
}

aside .toggle .logo img {
    height: 2.8rem;
}

aside .toggle .logo:hover {
    transform: scale(1.1);
}

aside .toggle .close {
    padding-right: 1rem;
    display: none;
}

aside .sidebar {
    display: flex;
    flex-direction: column;
    background-color: var(--color-white);
    box-shadow: var(--box-shadow);
    border-radius: 15px;
    height: 88vh;
    position: relative;
    top: 1.5rem;
    transition: all 0.3s ease;
}

aside .sidebar:hover {
    box-shadow: none;
}

aside .sidebar a {
    display: flex;
    align-items: center;
    color: var(--color-info-dark);
    height: 3.7rem;
    gap: 1rem;
    position: relative;
    margin-left: 2rem;
    transition: all 0.3s ease;
}

aside .sidebar a span {
    font-size: 1.6rem;
    transition: all 0.3s ease;
}

aside .sidebar a:last-child {
    position: absolute;
    bottom: 2rem;
    width: 100%;
}

aside .sidebar a.active {
    width: 100%;
    color: var(--color-primary);
    background-color: var(--color-light);
    margin-left: 0;
}

aside .sidebar a:nth-of-type(1).active {
    border-radius: 15px 15px 0px 0px;
}

aside .sidebar a.active::before {
    content: '';
    width: 6px;
    height: 18px;
    background-color: var(--color-primary);
}

aside .sidebar a.active span {
    color: var(--color-primary);
    margin-left: calc(1rem - 3px);
}

aside .sidebar a:hover {
    color: var(--color-primary);
}

aside .sidebar a:hover span {
    margin-left: 0.6rem;
}

aside .sidebar .message-count {
    background-color: var(--color-danger);
    padding: 2px 6px;
    color: var(--color-white);
    font-size: 11px;
    border-radius: var(--border-radius-1);
}

main {
    grid-area: main;
}

main .analyse {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.6rem;
}

main .analyse>div {
    background-color: var(--color-white);
    padding: var(--card-padding);
    border-radius: var(--card-border-radius);
    margin-top: 1rem;
    box-shadow: var(--box-shadow);
    cursor: pointer;
    transition: all 0.3s ease;
}

main .analyse>div:hover {
    box-shadow: none;
}

main .analyse>div .status {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

main .analyse h3 {
    margin-left: 0.6rem;
    font-size: 1rem;
}

main .analyse .progresss {
    position: relative;
    width: 92px;
    height: 92px;
    border-radius: 50%;
}

main .analyse svg {
    width: 7rem;
    height: 7rem;
}

main .analyse svg circle {
    fill: none;
    stroke-width: 10;
    stroke-linecap: round;
    transform: translate(5px, 5px);
}

main .analyse .sales svg circle {
    stroke: var(--color-success);
    stroke-dashoffset: 350;
    stroke-dasharray: 440;
}

main .analyse .visits svg circle {
    stroke: var(--color-danger);
    stroke-dashoffset: 0;
    stroke-dasharray: 440;
}

main .analyse .searches svg circle {
    stroke: var(--color-primary);
    stroke-dashoffset: -30;
    stroke-dasharray: 200;
}

main .analyse .progresss .percentage {
    position: absolute;
    top: -3px;
    left: -1px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

main .analyse .progresss .percentage p {
    font-size: 22px;
    font-weight: 700;
}

main .new-users {
    margin-top: 1.3rem;
}

main .new-users .user-list {
    background-color: var(--color-white);
    padding: var(--card-padding);
    border-radius: var(--card-border-radius);
    margin-top: 1rem;
    box-shadow: var(--box-shadow);
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 1.4rem;
    cursor: pointer;
    transition: all 0.3s ease;
}

main .new-users .user-list:hover {
    box-shadow: none;
}

main .new-users .user-list .user {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main .new-users .user-list .user img {
    width: 5rem;
    height: 5rem;
    margin-bottom: 0.4rem;
    border-radius: 50%;
}

main .recent-orders {
    margin-top: 1.3rem;
}

main .recent-orders h2 {
    margin-bottom: 0.8rem;
}

main .recent-orders table {
    background-color: var(--color-white);
    width: 100%;
    padding: var(--card-padding);
    text-align: center;
    box-shadow: var(--box-shadow);
    border-radius: var(--card-border-radius);
    transition: all 0.3s ease;
}

main .recent-orders table:hover {
    box-shadow: none;
}

main table tbody td {
    height: 2.8rem;
    border-bottom: 1px solid var(--color-light);
    color: var(--color-dark-variant);
}

main table tbody tr:last-child td {
    border: none;
}

main .recent-orders a {
    text-align: center;
    display: block;
    margin: 1rem auto;
    color: var(--color-primary);
}


.nav {
    display: flex;
    justify-content: space-between;
    padding-left: 2%;
    padding-right: 2%;
    align-items: center;
    gap: 1.5rem;
    position: fixed;
    left: 14rem;
    width: calc(100% - 14rem);
    height: 5rem;
    grid-area: topnav;
    z-index: 100;
    background-color: var(--color-background);
}

.nav button {
    display: none;
}

.dark-mode {
    background-color: var(--color-light);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 2.5rem;
    width: 6rem;
    cursor: pointer;
    border-radius: var(--border-radius-1);
}

.dark-mode span {
    font-size: 1.2rem;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dark-mode span.active {
    background-color: var(--color-primary);
    color: white;
    border-radius: var(--border-radius-1);
}

.nav .profile {
    display: flex;
    height: 2.5rem;
    flex-direction: row;
    width: fit-content;
    justify-content: center;
    gap: 0;
    text-align: right;
    cursor: pointer;
}

.nav .profile .profile-photo {
    width: auto;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.nav .profile .profile-photo span {
    font-size: 40px;
}

.nav .profile:hover::after {
    position: absolute;
    top: 60px;
    content: attr(data-tooltip);
    color: var(--color-primary);
    opacity: 1;
    background-color: var(--color-light);
    padding: 3px 10px;
    font-weight: 700;
    font-size: 14px;
    border-radius: 5px;
}

.user-profile {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 1rem;
    background-color: var(--color-white);
    padding: var(--card-padding);
    border-radius: var(--card-border-radius);
    box-shadow: var(--box-shadow);
    cursor: pointer;
    transition: all 0.3s ease;
}

.user-profile:hover {
    box-shadow: none;
}

.user-profile img {
    width: 11rem;
    height: auto;
    margin-bottom: 0.8rem;
    border-radius: 50%;
}

.user-profile h2 {
    margin-bottom: 0.2rem;
}

.nav form {
    width: 55%;
}

.nav form .form-input {
    display: flex;
    align-items: center;
    height: 36px;
}

.nav form .form-input input {
    flex-grow: 1;
    padding: 0 16px;
    height: 100%;
    border: none;
    background: var(--color-white);
    border-radius: 36px 0 0 36px;
    outline: none;
    width: 100%;
    color: var(--color-dark);
    border: 2px solid var(--color-primary);
}

.nav form .form-input button {
    width: 80px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--color-primary);
    color: var(--color-dark);
    font-size: 18px;
    border: none;
    outline: none;
    border-radius: 0 36px 36px 0;
    cursor: pointer;
}

.nav form button span {
    font-size: 30px;
}


@media screen and (max-width: 1200px) {
    .container {
        width: 95%;
        grid-template-columns: 6rem auto;
    }

    aside {
        display: block;
        width: 6rem;
    }

    aside .logo h2 {
        display: none;
    }

    aside .toggle .logo img {
        height: 2.4rem;
    }

    aside .sidebar h3 {
        display: none;
    }

    aside .sidebar a {
        width: 5.6rem;
    }

    aside .sidebar a:last-child {
        position: relative;
        margin-top: 1.8rem;
    }

    aside .sidebar a:hover::after {
        content: attr(data-tooltip);
        background-color: var(--color-light);
        opacity: 1;
        padding: 3px 10px;
        font-weight: 700;
        font-size: 14px;
        border-radius: 5px;
    }

    .nav {
        left: 9rem;
        width: calc(100% - 9rem);
        padding-right: 2%;
    }

    main .analyse {
        grid-template-columns: 1fr;
        gap: 0;
    }

    main .new-users .user-list .user {
        flex-basis: 40%;
    }

    main .recent-orders {
        width: 94%;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        margin: 2rem 0 0 0.8rem;
    }

    main .recent-orders table {
        width: 83vw;
    }

    main table thead tr th:last-child,
    main table thead tr th:first-child {
        display: none;
    }

    main table tbody tr td:last-child,
    main table tbody tr td:first-child {
        display: none;
    }

}

@media screen and (max-height: 620px) and (min-width: 1200px) {
    aside .sidebar a:last-child {
        position: initial;
        width: 100%;
        margin-bottom: 25%;
    }
}

@media screen and (max-width: 768px) {
    .container {
        width: 100%;
        grid-template-columns: 1fr;
        padding: 0 var(--padding-1);
        grid-template-areas:
            'topnav'
            'main';
    }

    aside {
        position: fixed;
        background-color: var(--color-white);
        width: 15rem;
        z-index: 3;
        box-shadow: 1rem 3rem 4rem var(--color-light);
        height: 100vh;
        left: -100%;
        display: none;
        animation: showMenu 0.4s ease forwards;
    }

    @keyframes showMenu {
        to {
            left: 0;
        }
    }

    aside .logo {
        margin-left: 1rem;
    }

    aside .logo h2 {
        display: inline;
    }

    aside .sidebar h3 {
        display: inline;
    }

    aside .sidebar a {
        width: 100%;
        height: 3.4rem;
    }

    aside .sidebar a:last-child {
        position: absolute;
        bottom: 5rem;
    }

    aside .toggle {
        justify-content: space-between;
    }

    aside .toggle .close {
        display: inline-block;
        cursor: pointer;
        transition: linear 0.2s;
    }

    aside .toggle .close span {
        font-size: 30px;
    }

    aside .toggle .close:hover {
        transform: scale(1.2);
        color: var(--color-primary);
    }

    aside .sidebar a:hover::after {
        content: none;
        opacity: 0;
    }

    aside .sidebar a:nth-of-type(1).active {
        border-radius: 0px;
    }

    main {
        margin-top: 0rem;
        padding: 0 1rem;
    }

    main .new-users .user-list .user {
        flex-basis: 35%;
    }

    main .recent-orders {
        position: relative;
        margin: 3rem 0 0 0;
        width: 100%;
    }

    main .recent-orders table {
        width: 100%;
        margin: 0;
    }

    .nav {
        position: fixed;
        top: 0;
        left: 0;
        align-items: center;
        background-color: var(--color-white);
        padding: 0 var(--padding-1);
        height: 4.6rem;
        width: 100%;
        z-index: 2;
        box-shadow: 0 1rem 1rem var(--color-light);
        margin: 0;
        padding-left: 50px;
        gap: 0.5rem;
    }

    .nav .dark-mode {
        min-width: 60px;
        max-width: 70px;
        transform: translateX(-40%);
    }

    .nav button:not(.nav form button) {
        display: inline-block;
        background-color: transparent;
        cursor: pointer;
        color: var(--color-dark);
        position: absolute;
        left: 1rem;
    }

    .nav button span {
        font-size: 2rem;
    }

    .nav form {
        width: 37%;
    }

    .nav form .form-input input {
        display: none;
    }

    .nav form .form-input button {
        background: transparent;
        color: var(--color-dark);
        border-radius: 0px;
        width: fit-content;
        padding: 0px 15px;
        position: absolute;
    }

    #menu-btn {
        height: 100%;
        left: 0;
        width: fit-content;
        padding: 0px 15px;
    }

    .nav form.show {
        position: absolute;
        background-color: var(--color-white);
        height: inherit;
        margin: 0px;
        left: 0px;
        top: 0px;
        max-width: 768px;
        width: 100%;
        z-index: 100;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .nav form.show .form-input {
        width: 90%;
    }

    .nav form.show .form-input input {
        display: block;
        width: 100%;
        background-color: var(--color-white);
    }

    .nav form.show .form-input button {
        width: 36px;
        height: 100%;
        color: var(--color-white);
        background: var(--color-primary);
        border-radius: 0 36px 36px 0;
        position: relative;
    }

    .nav form.show .form-input button span {
        font-size: 1rem;
        margin: 0;
        padding: 0;
    }
}

@media screen and (max-width: 400px) {
    .nav form {
        width: 50%;
    }
}