<!-- <div class="DEV-ONLY">{{ registerForm.value | json }}</div> -->

<div id="register-ctr">
    <div class="box">
        <form #registerForm="ngForm" (ngSubmit)="registerHandler(registerForm)">
            <h2>Register</h2>
            <div class="inputBox form-group">
                <input name="username" type="text" ngModel required />
                <label for="username">Username</label>
                <i></i>
            </div>
            <div class="inputBox">
                <input name="email" type="text" ngModel required email />
                <label for="email">Email</label>
                <i></i>
            </div>
            <div class="inputBox">
                <input name="password" type="password" ngModel required />
                <label for="password">Password</label>
                <i></i>
            </div>
            <div class="inputBox">
                <input name="repeatPassword" type="password" ngModel required />
                <label for="repeatPassword">Repeat Password</label>
                <i></i>
            </div>
            <button type="submit">Register</button>
            <div class="links">
                <span>Have an Account?</span><a [routerLink]="['/user/login']">Login Here</a>
            </div>
        </form>
    </div>
</div>