<h1>News</h1>

<div *ngIf="isLoading">
    <app-global-loader></app-global-loader>
</div>

<div *ngIf="!isLoading" class="content-lg content-full">
    <div class="na-ctr">
        <div class="fav-list">
            <div class="fav" (click)="onFavClick($event)"
                *ngFor="let item of newsArray; let i = index; first as isFirst" [ngClass]="{ 'fav-active' : isFirst }">
                <div class="ques">
                    <p>{{item.title}}</p>
                    <span class="material-icons-sharp">add</span>
                </div>
                <div class="ans">
                    <div>
                        <p *ngIf="item.postedOn">{{item.postedOn}}</p>
                        <img src="{{item.img}}" alt="news-article-img" *ngIf="item.img" />
                        <p *ngIf="item.body">{{item.body}}</p>
                    </div>
                    <div>
                        <p>Source: {{item.sourceTxt}}</p>
                        <a (click)="onReadMoreClick($event)" [attr.data-index]="i">Read more...</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- <div class="news-ctr" *ngFor="let item of newsArray">
    <p *ngIf="item.body">{{item.body}}</p>
    <p *ngIf="item.body">{{item.img}}</p>
    <p *ngIf="item.body">{{item.postedOn}}</p>
    <p>{{item.sourceTxt}}</p>
    <p>{{item.sourceURL}}</p>
    <p>{{item.title}}</p>
</div> -->