.news-ctr {
    background-color: var(--color-white);
    padding: 10px;

}

.news-ctr p {
    background-color: var(--color-light);
    font-size: 14px;
    padding: 2px 5px;
    border: 1px solid var(--color-dark);
}