<p>news works!</p>



<!-- Card template >>> TO *ngFor with data from firebase -->
<div class="news-card" title="Click to read source">
    <a href="" target="_blank" class="news-title">TITLE</a>
    <p class="news-posted-on">Jul 24, 2023 5:57 PM</p>
    <div class="news-img">
        <a href="" target="_blank">
            <img src="" alt="news-article-img" />
        </a>
    </div>
    <div class="news-content">
        <div class="news-body">
            <p>BODY</p>
        </div>
        <div class="news-source">
            <a href="" target="_blank">SOURCE TEXT</a>
        </div>
    </div>
</div>