<p>news works!</p>



<!-- Card template >>> TO *ngFor with data from firebase -->
<div class="news-card" title="Click to read source">
    <a href="" target="_blank" class="news-title">TITLE</a>
    <p class="news-posted-on">Jul 24, 2023 5:57 PM</p>
    <div class="news-img">
        <a href="" target="_blank">
            <img src="" alt="news-article-img" />
        </a>
    </div>
    <div class="news-content">
        <div class="news-body">
            <p>BODY</p>
        </div>
        <div class="news-source">
            <a href="" target="_blank">SOURCE TEXT</a>
        </div>
    </div>
</div>


<div class="news-ctr" *ngFor="let item of newsArray">
    <p *ngIf="item.body">{{item.body}}</p>
    <p *ngIf="item.body">{{item.img}}</p>
    <p *ngIf="item.body">{{item.postedOn}}</p>
    <p>{{item.sourceTxt}}</p>
    <p>{{item.sourceURL}}</p>
    <p>{{item.title}}</p>
</div>