<div class="standings-btns">
    <a class="conf-switch" routerLink="/nba/standings/east">
        Eastern Conference
        <span class="material-icons-sharp">arrow_forward_ios</span>
        </a>
</div>

<h1>Western Conference Standings</h1>

<div *ngIf="isLoading">
    <app-global-loader></app-global-loader>
</div>

<div *ngIf="!isLoading" class="standings-ctr">
    <div class="standings-table">
        <table>
            <tr>
                <th>Team</th>
                <th>Wins</th>
                <th>Losses</th>
                <th>Win %</th>
                <th>GB</th>
            </tr>
            <tr *ngFor="let team of standings.west; let i = index;">
                <td [attr.data-name]="team.id" class="t-team-ctr">
                    <p class="t-rank">{{team['Team'][0]}}</p>
                    <img src="{{team['Team'][3]}}" alt="team-logo" class="t-logo" />
                    <div class="t-link">
                        <a [routerLink]="'/nba/teams/' + team.id">
                            <span class="material-icons-sharp before"></span>
                            {{team['Team'][1]}}
                            <span class="material-icons-sharp after"></span>
                        </a>
                    </div>
                </td>
                <td>{{team['w'][0]}}</td>
                <td>{{team['L'][0]}}</td>
                <td>{{team['WIN%'][0]}}</td>
                <td>{{team['GB'][0]}}</td>
            </tr>
        </table>
    </div>
</div>