.ques {
    background-color: var(--color-light);
    padding: 10px 30px;
    font-size: 20px;
    border-radius: 13px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.ques p {
    color: var(--color-dark);
    letter-spacing: 0.025em;
}

.ques:hover {
    background-color: var(--color-dark-variant-2);
}

.ans {
    max-height: 0px;
    width: 100%;
    overflow: hidden;
    transition: max-height 0.3s ease-in-out;
    border-radius: 0 0 13px 13px;
}

.fav span {
    font-size: 30px;
    transition: all 0.3s ease-in-out;
}

.fav-list {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.fav {
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 2px 2px;
    border-radius: 13px;
    width: 100%;
}

.fav.fav-active .ans {
    max-height: fit-content;
}

.fav.fav-active .ques {
    border-radius: 13px 13px 0 0;
}

.fav.fav-active .ques p,
.fav.fav-active .ques span {
    font-weight: 700;
    color: var(--color-primary);
}

.fav-active span {
    transform: rotate(45deg);
}

.ans p {
    background-color: var(--color-light);
    color: var(--color-dark);
    padding: 10px 30px;
    font-size: 20px;
    border-top: 2px solid var(--color-background);
}