.content-full {
    grid-template-columns: 1fr;
    padding: 10px 20px 20px 20px;
}

.profile-ctr {
    padding: 10px;
}

h1 {
    padding: 0;
}

.ques {
    background-color: var(--color-white);
    padding: 10px 30px;
    font-size: 20px;
    border-radius: 13px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    box-shadow: var(--box-shadow);
}

.ques p {
    width: 100%;
    color: var(--color-dark);
    letter-spacing: 0.025em;
}

.ques:hover {
    background-color: var(--color-light);
}

.ans {
    max-height: 0px;
    width: 100%;
    overflow: hidden;
    transition: max-height 0.3s ease-in-out;
    border-radius: 0 0 13px 13px;
}

.fav span {
    font-size: 30px;
    transition: all 0.3s ease-in-out;
}

.fav-list {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 94%;
    margin-left: auto;
    margin-right: auto;
}

.fav {
    /* box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 2px 2px; */
    box-shadow: var(--box-shadow);
    border-radius: 13px;
    width: 100%;
}

.fav.fav-active .ans {
    max-height: fit-content;
}

.fav.fav-active .ques {
    border-radius: 13px 13px 0 0;
}

.fav.fav-active .ques p,
.fav.fav-active .ques span {
    font-weight: 700;
    color: var(--color-primary);
}

.fav-active span {
    transform: rotate(45deg);
}

.ans p {
    background-color: var(--color-white);
    color: var(--color-dark);
    padding: 10px 30px;
    font-size: 20px;
    border-top: 2px solid var(--color-background);
    box-shadow: var(--box-shadow);
}

.details-outer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: stretch;
    row-gap: 10px;
}

.details-inner {
    background-color: var(--color-white);
    border-radius: 13px;
    /* box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 2px 2px; */
    box-shadow: var(--box-shadow);
}

.details-inner:nth-child(1) {
    width: 30%;
    min-width: 200px;
    margin-right: 1%;
}

.details-inner:nth-child(1) img {
    object-fit: cover;
}

.details-inner:nth-child(2) {
    min-width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px 20px;
}

.details-inner:nth-child(2) div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    column-gap: 5px;
}

.details-inner:nth-child(2) div p {
    font-size: 16px;
    line-height: 2;
}

.user-favorites {
    margin-top: 30px;
}

.test {
    width: 100%;
    padding: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 200px;
    gap: 5%;
}

.test div {
    background-color: plum;
    padding: 10px 30px;
    font-size: 20px;
    text-align: center;
    border-radius: 13px;
    box-shadow: var(--box-shadow-2);
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.test div:hover {
    background-color: rgba(166, 0, 231, 0.5);
    box-shadow: var(--box-shadow-3);
    border-radius: 18px;
}