<h1>User Profile</h1>

<div class="content-full">

    <div class="user-details">
        <div class="details-outer">
            <div class="details-inner">
                <img src="../../../assets/images/user-avatar.png" alt="profile-img">
            </div>
            <div class="details-inner">
                <div>
                    <p>Username: </p>
                    <p><b>{{authProfile.displayName}}</b></p>
                </div>
                <div>
                    <p>Email: </p>
                    <p><b>{{authProfile.email}}</b></p>
                </div>
                <div>
                    <p>Email verified: </p>
                    <p><b>{{authProfile.emailVerified ? 'Yes' : 'No'}}</b></p>
                </div>
                <div>
                    <p>Created on: </p>
                    <p><b>{{authProfile.createdAt | date }}</b></p>
                </div>
                <div>
                    <p>Last login: </p>
                    <p><b>{{authProfile.lastLoginAt | date }}</b></p>
                </div>
            </div>
        </div>
    </div>

    <div *ngIf="isLoading">
        <app-profile-loader></app-profile-loader>
    </div>

    <div *ngIf="!isLoading" class="user-favorites">
        <div class="fav-list">
            <div class="fav" (click)="onFavClick($event)">
                <div class="ques">
                    <p>Players ({{favPlayers.length}})</p>
                    <span class="material-icons-sharp">add</span>
                </div>
                <div class="ans">
                    <p>This is content 1. Players below...</p>
                    <div class="profile-fav-card" *ngFor="let item of favTeams">
                        player card here...
                    </div>
                </div>
            </div>

            <div class="fav" (click)="onFavClick($event)">
                <div class="ques">
                    <p>Teams ({{favTeams.length}})</p>
                    <span class="material-icons-sharp">add</span>
                </div>
                <div class="ans">
                    <p>This is content 2. Teams below...</p>
                    <div class="profile-fav-card" *ngFor="let item of favTeams">
                        player card here...
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="test">
        <div (click)="onFavPlayer($event)">FAV PLAYER</div>
        <div (click)="onFavTeam($event)">FAV TEAM</div>
        <div (click)="onUNfavPlayer($event)">unFAV PLAYER</div>
        <div (click)="onUNfavTeam($event)">unFAV TEAM</div>
    </div>
</div>