<h1>User Profile</h1>

<div class="content-lg content-full">
    <div class="user-details">
        <h1>Details</h1>
        <div> content... </div>
    </div>
    <div class="user-favorites">
        <h1>Favorites</h1>
        <div class="fav-list">
            <div class="fav" (click)="onFavClick($event)">
                <div class="ques">
                    <p>Click to show content 1</p>
                    <span class="material-icons-sharp">add</span>
                </div>
                <div class="ans">
                    <p>This is content 1. Click to hide.</p>
                </div>
            </div>

            <div class="fav" (click)="onFavClick($event)">
                <div class="ques">
                    <p>Click to show content 2</p>
                    <span class="material-icons-sharp">add</span>
                </div>
                <div class="ans">
                    <p>This is content 2. Click to hide.</p>
                </div>
            </div>
        </div>
    </div>
</div>