.players-ctr {
    background-color: var(--color-white);
    padding: 20px;
    border-radius: 13px;
    box-shadow: var(--box-shadow);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 15px;
}

.players-ctr:hover {
    box-shadow: none;
}

.players-ctr span {
    color: var(--color-dark);
}

.page-btns {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.page-btns>div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 13px;

}

.page-btn {
    background-color: var(--color-light);
}

.page-btn span {
    padding: 0 20px;
    font-size: 30px;
}

.page-display {
    background-color: var(--color-light);
    padding: 1px 20px;
    font-size: 20px;
    font-weight: bold;
}

.players-table {
    background-color: var(--color-light);
    width: 100%;
    padding: 20px;
    border-radius: 13px;
}

table {
    width: 100%;
    text-align: center;
    font-size: 16px;
    border-collapse: collapse;
}

table tr:hover {
    background-color: var(--color-light);
}

table td:nth-of-type(1) {
    width: 35%;
    cursor: pointer;
}

table td:nth-of-type(1):hover {
    color: var(--color-primary);
    font-weight: 700;
}

table td:nth-of-type(2) {
    width: 15%;
}

table td:nth-of-type(3) {
    width: 15%;
}

table td:nth-of-type(4) {
    width: 35%;
    cursor: pointer;
}

table td:nth-of-type(4):hover {
    color: var(--color-primary);
    font-weight: 700;
}

table tr:nth-of-type(1) {
    background-color: var(--color-dark-variant-2);
    font-size: 18px;
    line-height: 2;
}

table td:nth-of-type(1),
table th:nth-of-type(1) {
    border-radius: 13px 0 0 13px;
}

table td:nth-of-type(4),
table th:nth-of-type(4) {
    border-radius: 0 13px 13px 0;
}

td {
    position: relative;
}

td span.after {
    position: absolute;
    font-size: 16px;
    top: 50%;
    transform: translateY(-50%);
    transition: all 0.3s ease-in-out;
}

td span.before {
    position: relative;
    font-size: 18px;
    left: 0px;
    top: 50%;
    transform: translateY(15%);
    transition: all 0.3s ease-in-out;
}

td:hover span {
    color: var(--color-primary);
}

td:hover span.after {
    margin-left: 20px;
}

td:hover span.after::after {
    content: 'arrow_forward_ios';
}

td:nth-of-type(1):hover span.before::before {
    content: 'person';
}

td:nth-of-type(4):hover span.before::before {
    content: 'group';
}