<!-- <div class="DEV-ONLY">{{ loginForm.value | json }}</div> -->

<div id="login-ctr">
    <div class="box">
        <span class="borderLine"></span>
        <form #loginForm="ngForm" (ngSubmit)="loginHandler(loginForm)">
            <h2>Login</h2>
            <div class="inputBox">
                <input name="email" type="text" ngModel required email #emailInput="ngModel" />
                <label for="email">Email
                    <span *ngIf="emailInput.dirty">
                        <span class="danger" *ngIf="emailInput.errors?.['required']">is required!</span>
                        <span class="danger" *ngIf="emailInput.errors?.['email']">is invalid!</span>
                    </span>
                </label>
                <i></i>
            </div>
            <div class="inputBox">
                <input name="password" type="password" ngModel required #passwordInput="ngModel" [appMinCount]="6" />
                <label for="password">Password
                    <span *ngIf="passwordInput.dirty">
                        <span class="danger" *ngIf="passwordInput.errors?.['appMinCount']"> is too short!</span>
                    </span>
                </label>
                <i></i>
            </div>
            <button type="submit">Login</button>
            <div class="links">
                <span>Not a member?</span><a [routerLink]="['/user/register']">Register Here</a>
            </div>
        </form>
    </div>
</div>