<div class="nav">
    <form id="search-ctr" #searchForm="ngForm" #sForm>
        <div class="form-input">
            <input (input)="onSearchTyping(sInput)" #sInput name="search-string" type="search"
                placeholder="Search Teams and Players..." ngModel #input="ngModel" autocomplete="off">
            <button class="search-btn" type="submit" #searchBtn
                (click)="searchHandler($event, sForm, searchBtn, searchIcon)"
                data-tooltip="Results show up automatically when you're typing">
                <span class="material-icons-sharp" #searchIcon>
                    search
                </span>
            </button>
        </div>
    </form>
    <div class="search-results-ctr" *ngIf="searchResults!.length > 0">
        <div class="search-result-line" *ngFor="let result of searchResults; let i = index;">
            <a (click)="onSearchResultClick(result.name, result.id)" class="search-result-link">{{result.name}}</a>
        </div>
    </div>
    <button id="menu-btn" (click)="menuHandler()">
        <span class="material-icons-sharp">
            menu
        </span>
    </button>
    <div data-tooltip="Mode switch" class="dark-mode" (click)="modeSwitchHandler(light, dark)">
        <span #light class="material-icons-sharp active">
            light_mode
        </span>
        <span #dark class="material-icons-sharp">
            dark_mode
        </span>
    </div>

    <a *ngIf="isAuthenticated" class="profile" [routerLink]="['/user/profile']" data-tooltip="Profile">
        <div class="info">
            <small class="text-muted">Hello</small>
            <p id="user-link">
                <b *ngIf="isAuthenticated">{{currentUser.displayName}}</b>
                <b *ngIf="!isAuthenticated">Username</b>
            </p>
        </div>
        <div class="profile-photo">
            <img *ngIf="!authProfile.photoURL!"
                src="../../../assets/images/user-avatar.png" alt="profile-img" class="img-bg">
            <img *ngIf="authProfile.photoURL!" src="{{authProfile.photoURL !}}"
                alt="profile-img">
        </div>
    </a>

</div>