.nav {
    display: flex;
    justify-content: space-between;
    padding-left: 2%;
    padding-right: 2%;
    align-items: center;
    gap: 1.5rem;
    position: fixed;
    left: 14rem;
    width: calc(100% - 14rem);
    height: 5rem;
    grid-area: topnav;
    z-index: 100;
    background-color: var(--color-background);
}

.nav button {
    display: none;
}

.dark-mode {
    background-color: var(--color-light);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 2.5rem;
    width: 6rem;
    cursor: pointer;
    border-radius: var(--border-radius-1);
}

.dark-mode span {
    font-size: 1.2rem;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-dark);
}

.dark-mode span.active {
    background-color: var(--color-primary);
    color: var(--color-white);
    border-radius: var(--border-radius-1);
}

.nav .profile {
    display: flex;
    height: 2.5rem;
    flex-direction: row;
    width: fit-content;
    justify-content: center;
    gap: 0;
    text-align: right;
    cursor: pointer;
}

.nav .profile .profile-photo {
    width: auto;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.nav .profile .profile-photo span {
    font-size: 40px;
    color: var(--color-primary);
}

.nav .profile:hover::after,
.nav .dark-mode:hover::after {
    position: absolute;
    top: 70px;
    content: attr(data-tooltip);
    letter-spacing: 0.025em;
    color: var(--color-primary);
    opacity: 1;
    background-color: var(--color-background);
    box-shadow: var(--box-shadow-2);
    padding: 3px 10px;
    font-weight: 700;
    font-size: 14px;
    border-radius: 5px;
}

.user-profile {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 1rem;
    background-color: var(--color-white);
    padding: var(--card-padding);
    border-radius: var(--card-border-radius);
    box-shadow: var(--box-shadow);
    cursor: pointer;
    transition: all 0.3s ease;
}

.user-profile:hover {
    box-shadow: none;
}

.user-profile img {
    width: 11rem;
    height: auto;
    margin-bottom: 0.8rem;
    border-radius: 50%;
}

.user-profile h2 {
    margin-bottom: 0.2rem;
}

.nav .profile .info * {
    color: var(--color-primary);
}

.nav form {
    width: 55%;
    position: relative;
}

.nav form .form-input {
    display: flex;
    align-items: center;
    height: 36px;
}

.nav form .form-input #search-select {
    height: 100%;
    width: fit-content;
    padding-right: 2px;
    font-size: 16px;
    font-weight: 700;
    border: 2px solid var(--color-primary);
    border-left: none;
    border-right: none;
    background: var(--color-white);
    color: var(--color-dark);
}

.nav form .form-input input {
    flex-grow: 1;
    padding: 0 16px;
    height: 100%;
    border: none;
    background: var(--color-white);
    border-radius: 36px 0 0 36px;
    outline: none;
    width: 100%;
    color: var(--color-dark);
    border: 2px solid var(--color-primary);
    border-right: none;
}

#search-ctr>div>input[type=search] {
    font-size: 18px;
    letter-spacing: 0.025em;
}

.nav form .form-input button {
    width: 80px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background: var(--color-primary); */
    background-color: var(--color-white);
    color: var(--color-dark-variant);
    font-size: 18px;
    border: 2px solid var(--color-primary);
    border-left: none;
    outline: none;
    border-radius: 0 36px 36px 0;
}

.nav form button span {
    font-size: 30px;
}

.nav form button.search-btn:hover {
    cursor: help;
}

.nav form button.search-btn:hover::after {
    position: absolute;
    bottom: -50px;
    right: -250px;
    content: attr(data-tooltip);
    color: var(--color-primary);
    opacity: 1;
    background-color: var(--color-background);
    box-shadow: var(--box-shadow-2);
    padding: 10px 20px;
    font-weight: 700;
    font-size: 16px;
    border-radius: 5px;
    z-index: 2;
    width: 200px;
}


.nav .search-results-ctr {
    position: absolute;
    top: 53px;
    width: 52.25%;
    z-index: 2000;
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    align-items: stretch;
    border-radius: 0 0 18px 18px;
    box-shadow: var(--box-shadow);
    overflow-y: scroll;
    max-height: 500px;
}

.nav .search-result-line {
    border-top: 2px solid var(--color-light);
    background-color: var(--color-white);
}

.nav .search-result-line:first-of-type {
    border: none;
}

.nav .search-result-link {
    display: block;
    font-size: 18px;
    width: 100%;
    height: 100%;
    padding: 5px 30px;
    cursor: pointer;
    text-align: center;
    transition: all 0.3s ease-in-out;
}

.nav .search-result-line:last-of-type .search-result-link,
.nav .search-result-line:last-of-type {
    border-radius: 0 0 18px 18px;
}

.nav .search-result-link:hover {
    font-weight: 700;
    color: var(--color-primary);
    background-color: var(--color-light);
    letter-spacing: 0.025em;
}

.nav .search-results-ctr::-webkit-scrollbar {
    background: transparent;
}

.nav .search-results-ctr::-webkit-scrollbar-track {
    margin-top: 0;
    margin-bottom: 0;
    background: transparent;
}










@media screen and (max-width: 1200px) {
    .nav {
        left: 9rem;
        width: calc(100% - 9rem);
        padding-right: 2%;
    }
}

@media screen and (max-width: 768px) {
    .nav {
        position: fixed;
        top: 0;
        left: 0;
        align-items: center;
        background-color: var(--color-white);
        padding: 0 var(--padding-1);
        height: 4.6rem;
        width: 100%;
        z-index: 2;
        box-shadow: 0 1rem 1rem var(--color-light);
        margin: 0;
        padding-left: 50px;
        gap: 0.5rem;
    }

    .nav button:not(.nav form button) {
        display: inline-block;
        background-color: transparent;
        cursor: pointer;
        color: var(--color-dark);
        position: absolute;
        left: 1rem;
    }

    .nav button span {
        font-size: 2rem;
    }

    .nav form {
        width: 25%;
    }

    .nav form .form-input {
        justify-content: flex-end;
    }

    .nav form .form-input input {
        display: none;
    }

    .nav form .form-input #search-select {
        display: none;
    }

    .nav form .form-input button {
        background: transparent;
        color: var(--color-dark);
        border-radius: 0px;
        width: fit-content;
        padding: 0px 15px;
        cursor: pointer;
        border: none;
    }

    #menu-btn {
        height: 100%;
        left: 0;
        width: fit-content;
        padding: 0px 15px;
    }

    .nav form.show {
        position: absolute;
        background-color: var(--color-white);
        height: inherit;
        margin: 0px;
        left: 0px;
        top: 0px;
        max-width: 768px;
        width: 100%;
        z-index: 100;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .nav form.show .form-input {
        width: 90%;
    }

    .nav form.show .form-input input {
        display: block;
        width: 100%;
        background-color: var(--color-white);
    }

    .nav form.show .form-input #search-select {
        display: block;
    }

    .nav form.show .form-input button {
        width: 50px;
        height: 100%;
        color: var(--color-white);
        background: var(--color-primary);
        border-radius: 0 36px 36px 0;
        position: relative;
    }

    .nav form.show .form-input button span {
        font-size: 2rem;
        margin: 0;
    }

    .nav .profile .profile-photo {
        margin-left: 5px;
    }

    .nav form button.search-btn:hover {
        cursor: pointer;
    }

    .nav form button.search-btn:hover::after {
        display: none;
    }

    .nav .search-results-ctr {
        left: 5%;
        width: 90%;
    }

}

@media screen and (max-width: 400px) {
    .nav {
        gap: 0;
        padding: 0 0 0 50px;
    }

    /* .nav form {
        width: 50%;
    } */

    .nav .profile .profile-photo {
        display: none;
    }

    .nav .profile {
        margin-right: 10px;
    }
}