<div class="nav">
    <form id="search-ctr" action="#" #searchForm>
        <div class="form-input">
            <input type="search" placeholder="Search...">
            <button class="search-btn" type="submit" #searchBtn
                (click)="searchHandler($event, searchForm, searchBtn, searchIcon)">
                <span class="material-icons-sharp" #searchIcon>
                    search
                </span>
            </button>
        </div>
    </form>
    <button id="menu-btn" (click)="menuHandler()">
        <span class="material-icons-sharp">
            menu
        </span>
    </button>
    <div class="dark-mode" (click)="modeSwitchHandler(light, dark)">
        <span #light class="material-icons-sharp active">
            light_mode
        </span>
        <span #dark class="material-icons-sharp">
            dark_mode
        </span>
    </div>

    <a class="profile" [routerLink]="['/user/profile']" data-tooltip="Profile">
        <div class="info">
            <small class="text-muted">Hello</small>
            <p id="user-link"><b>Username</b></p>
        </div>
        <div class="profile-photo">
            <span class="material-icons-sharp">
                account_circle
            </span>
        </div>
    </a>

</div>