<div class="container">
  <!-- Sidebar Section -->
  <aside #sideMenu>
    <div class="toggle">
      <div class="logo">
        <img src="assets/images/logo.png">
        <h2><span class="danger">sub</span></h2>
      </div>
      <div #closeMenu class="close" id="close-btn" (click)="closeHandler(sideMenu)">
        <span class="material-icons-sharp">
          close
        </span>
      </div>
    </div>

    <div class="sidebar">
      <a href="#" data-tooltip="Dashboard">
        <span class="material-icons-sharp">
          dashboard
        </span>
        <h3>Dashboard</h3>
      </a>
      <a href="#" data-tooltip="Users">
        <span class="material-icons-sharp">
          person_outline
        </span>
        <h3>Users</h3>
      </a>
      <a href="#" data-tooltip="History">
        <span class="material-icons-sharp">
          receipt_long
        </span>
        <h3>History</h3>
      </a>
      <a href="#" class="active" data-tooltip="Analytics">
        <span class="material-icons-sharp">
          insights
        </span>
        <h3>Analytics</h3>
      </a>
      <a href="#" data-tooltip="Tickets">
        <span class="material-icons-sharp">
          mail_outline
        </span>
        <h3>Tickets</h3>
        <span class="message-count">27</span>
      </a>
      <a href="#" data-tooltip="Sale List">
        <span class="material-icons-sharp">
          inventory
        </span>
        <h3>Sale List</h3>
      </a>
      <a href="#" data-tooltip="Reports">
        <span class="material-icons-sharp">
          report_gmailerrorred
        </span>
        <h3>Reports</h3>
      </a>
      <a href="#" data-tooltip="Settings">
        <span class="material-icons-sharp">
          settings
        </span>
        <h3>Settings</h3>
      </a>
      <a href="#" data-tooltip="New Login">
        <span class="material-icons-sharp">
          add
        </span>
        <h3>New Login</h3>
      </a>
      <a href="#" data-tooltip="Logout">
        <span class="material-icons-sharp">
          logout
        </span>
        <h3>Logout</h3>
      </a>
    </div>
  </aside>
  <!-- End of Sidebar Section -->

  <!-- Main Content -->
  <main>
    <div class="nav">
      <button id="menu-btn" (click)="menuHandler(sideMenu)">
        <span class="material-icons-sharp">
          menu
        </span>
      </button>
      <div class="dark-mode" (click)="modeSwitchHandler(light, dark)">
        <span #light class="material-icons-sharp active">
          light_mode
        </span>
        <span #dark class="material-icons-sharp">
          dark_mode
        </span>
      </div>

      <div class="profile">
        <div class="info">
          <p>Hey, <b>Reza</b></p>
          <small class="text-muted">Admin</small>
        </div>
        <div class="profile-photo">
          <img src="assets/images/profile-1.jpg">
        </div>
      </div>

    </div>
    <!-- End of Nav -->

    <h1>Analytics</h1>
    <!-- Analyses -->
    <div class="analyse">
      <div class="sales">
        <div class="status">
          <div class="info">
            <h3>Total Sales</h3>
            <h1>$65,024</h1>
          </div>
          <div class="progresss">
            <svg>
              <circle cx="38" cy="38" r="36"></circle>
            </svg>
            <div class="percentage">
              <p>81%</p>
            </div>
          </div>
        </div>
      </div>
      <div class="visits">
        <div class="status">
          <div class="info">
            <h3>Site Visit</h3>
            <h1>24,981</h1>
          </div>
          <div class="progresss">
            <svg>
              <circle cx="38" cy="38" r="36"></circle>
            </svg>
            <div class="percentage">
              <p>48%</p>
            </div>
          </div>
        </div>
      </div>
      <div class="searches">
        <div class="status">
          <div class="info">
            <h3>Searches</h3>
            <h1>14,147</h1>
          </div>
          <div class="progresss">
            <svg>
              <circle cx="38" cy="38" r="36"></circle>
            </svg>
            <div class="percentage">
              <p>21%</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- End of Analyses -->

    <!-- New Users Section -->
    <div class="new-users">
      <h2>New Users</h2>
      <div class="user-list">
        <div class="user">
          <img src="assets/images/profile-2.jpg">
          <h2>Jack</h2>
          <p>54 Min Ago</p>
        </div>
        <div class="user">
          <img src="assets/images/profile-3.jpg">
          <h2>Amir</h2>
          <p>3 Hours Ago</p>
        </div>
        <div class="user">
          <img src="assets/images/profile-4.jpg">
          <h2>Ember</h2>
          <p>6 Hours Ago</p>
        </div>
        <div class="user">
          <img src="assets/images/plus.png">
          <h2>More</h2>
          <p>New User</p>
        </div>
      </div>
    </div>
    <!-- End of New Users Section -->

    <!-- Recent Orders Table -->
    <div class="recent-orders">
      <h2>Recent Orders</h2>
      <table>
        <thead>
          <tr>
            <th>Course Name</th>
            <th>Course Number</th>
            <th>Payment</th>
            <th>Status</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let order of orders">
            <td>{{order.productName}}</td>
            <td>{{order.productNumber}}</td>
            <td>{{order.paymentStatus}}</td>
            <td>{{order.status}}</td>
            <td>Details</td>
          </tr>
        </tbody>
      </table>
      <a href="#">Show All</a>
    </div>
    <!-- End of Recent Orders -->

  </main>
  <!-- End of Main Content -->

</div>