.standings-ctr {
    background-color: var(--color-background);
    padding: 10px;
    border-radius: 18px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 10px;
    margin-bottom: 20px;
}

h3 {
    text-align: center;
    font-size: 16px;
}

.standings-ctr span {
    color: var(--color-dark);
}

.page-btns {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.page-btns div:not(.page-display) {
    cursor: pointer;
}

.page-btns .page-back:hover span {
    transform: translateX(-3px);
    color: var(--color-primary);
}

.page-btns .page-forward:hover span {
    transform: translateX(3px);
    color: var(--color-primary);
}

.page-btns>div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 13px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 2px 2px;
}

.page-btn {
    background-color: var(--color-dark-variant-2);
}

.page-btn span {
    padding: 0 20px;
    font-size: 30px;
    transition: all 0.2s ease-in-out;
}

.page-display {
    background-color: var(--color-dark-variant-2);
    padding: 1px 20px;
    font-size: 20px;
    font-weight: bold;
}

.standings-table {
    background-color: var(--color-white);
    width: 100%;
    padding: 10px;
    border-radius: 13px;
    box-shadow: var(--box-shadow);
}

table {
    width: 100%;
    text-align: center;
    font-size: 16px;
    border-collapse: collapse;
}

table tr:hover {
    background-color: var(--color-light);
}

table td:nth-of-type(1) {
    width: 6%;
}

table td:nth-of-type(2) {
    width: 35%;
    cursor: pointer;
}

table td:nth-of-type(2):hover a {
    color: var(--color-primary);
    font-weight: 700;
}

table td:nth-of-type(3) {
    width: 12%;
}

table td:nth-of-type(4) {
    width: 12%;
}

table td:nth-of-type(5) {
    width: 35%;
    cursor: pointer;
}

table td:nth-of-type(5):hover a {
    color: var(--color-primary);
    font-weight: 700;
}

table tr:nth-of-type(1) {
    background-color: var(--color-light);
    font-size: 18px;
    line-height: 2;
}

table td:nth-of-type(1),
table th:nth-of-type(1) {
    border-radius: 13px 0 0 13px;
}

table td:nth-of-type(5),
table th:nth-of-type(5) {
    border-radius: 0 13px 13px 0;
}

td {
    position: relative;
}

td span.after {
    position: absolute;
    font-size: 16px;
    top: 50%;
    transform: translateY(-50%);
    transition: all 0.3s ease-in-out;
}

td span.before {
    position: relative;
    font-size: 18px;
    left: 0px;
    top: 50%;
    transform: translateY(15%);
    transition: all 0.3s ease-in-out;
}

td:hover span {
    color: var(--color-primary);
    transition: all 0.3s ease-in-out;
}

td:hover span.after {
    margin-left: 20px;
}

td:hover span.after::after {
    content: 'arrow_forward_ios';
}

td:nth-of-type(2):hover span.before::before {
    content: 'person';
}

td:nth-of-type(5):hover span.before::before {
    content: 'group';
}

td a {
    display: block;
    width: 100%;
}


@media screen and (max-width: 768px) {

    .standings-table table td:nth-of-type(3),
    .standings-table table td:nth-of-type(4),
    .standings-table table th:nth-of-type(3),
    .standings-table table th:nth-of-type(4) {
        display: none;
    }

    .standings-table table td:nth-of-type(1) {
        width: 10%;
    }
}

@media screen and (max-width: 550px) {

    .standings-table table td:nth-of-type(5),
    .standings-table table th:nth-of-type(5) {
        display: none;
    }

    .standings-table table td:nth-of-type(2) {
        width: 60%;
    }

    .standings-table table th:nth-of-type(2) {
        border-radius: 0 13px 13px 0;
    }
}

@media screen and (max-width: 350px) {
    .standings-table table th:nth-of-type(1),
    .standings-table table td:nth-of-type(1) {
        display: none;
    }

    .standings-table table th:nth-of-type(2) {
        border-radius: 13px;
    }
}