<aside #sideMenu>
    <div class="toggle">
        <a class="logo" [routerLink]="['']">
            <img src="assets/images/logo.png">
            <h2><span class="danger">Dashboard</span></h2>
        </a>
        <div #closeMenu class="close" id="close-btn" (click)="closeHandler(sideMenu)">
            <span class="material-icons-sharp">
                close
            </span>
        </div>
    </div>

    <div class="sidebar">
        <a data-tooltip="Dashboard" [routerLink]="['']" [routerLinkActive]="['active']"
            [routerLinkActiveOptions]="{exact: true}">
            <span class="material-icons-sharp">dashboard</span>
            <h3>Dashboard</h3>
        </a>
        <a data-tooltip="Standings" [routerLink]="['/nba/standings']" [routerLinkActive]="['active']">
            <span class="material-icons-sharp">leaderboard</span>
            <h3>Standings</h3>
        </a>
        <a data-tooltip="Teams" [routerLink]="['/nba/teams']" [routerLinkActive]="['active']">
            <span class="material-icons-sharp">groups</span>
            <h3>Teams</h3>
        </a>
        <a data-tooltip="Players" [routerLink]="['/nba/players']" [routerLinkActive]="['active']">
            <span class="material-icons-sharp">person</span>
            <h3>Players</h3>
        </a>
        <a *ngIf="isAuthenticated" data-tooltip="Transactions" [routerLink]="['/nba/transactions']"
            [routerLinkActive]="['active']">
            <span class="material-icons-sharp">currency_exchange</span>
            <h3>Transactions</h3>
        </a>
        <a *ngIf="isAuthenticated" data-tooltip="News" [routerLink]="['/nba/news']" [routerLinkActive]="['active']">
            <span class="material-icons-sharp">feed</span>
            <h3>News</h3>
        </a>
        <a *ngIf="isAuthenticated" data-tooltip="Analysis" [routerLink]="['/nba/analysis']"
            [routerLinkActive]="['active']">
            <span class="material-icons-sharp">insights</span>
            <h3>Analysis</h3>
        </a>
        <a *ngIf="isAuthenticated" data-tooltip="Profile" [routerLink]="['/user/profile']"
            [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}">
            <span class="material-icons-sharp">manage_accounts</span>
            <h3>My Profile</h3>
        </a>
        <a *ngIf="!isAuthenticated" data-tooltip="Login" [routerLink]="['/user/login']" [routerLinkActive]="['active']">
            <span class="material-icons-sharp">add</span>
            <h3>Login</h3>
        </a>
        <a *ngIf="!isAuthenticated" data-tooltip="Register" [routerLink]="['/user/register']"
            [routerLinkActive]="['active']">
            <span class="material-icons-sharp">person_add_alt</span>
            <h3>Register</h3>
        </a>
        <a *ngIf="isAuthenticated" data-tooltip="Logout" (click)="onLogout()" style="cursor: pointer;">
            <span class="material-icons-sharp">logout</span>
            <h3>Logout</h3>
        </a>
    </div>
</aside>

<div *ngIf="isLoading" class="side-loader-screen-size">
    <app-global-loader></app-global-loader>
</div>