<aside #sideMenu>
    <div class="toggle">
        <a class="logo" [routerLink]="['dashboard']">
            <img src="assets/images/logo.png">
            <h2><span class="danger">Data</span></h2>
        </a>
        <div #closeMenu class="close" id="close-btn" (click)="closeHandler(sideMenu)">
            <span class="material-icons-sharp">
                close
            </span>
        </div>
    </div>

    <div class="sidebar">
        <a data-tooltip="Dashboard" [routerLink]="['dashboard']" [routerLinkActive]="['active']">
            <span class="material-icons-sharp">dashboard</span>
            <h3>Dashboard</h3>
        </a>
        <a data-tooltip="Standings" [routerLink]="['standings']" [routerLinkActive]="['active']">
            <span class="material-icons-sharp">leaderboard</span>
            <h3>Standings</h3>
        </a>
        <a data-tooltip="Teams" [routerLink]="['teams']" [routerLinkActive]="['active']">
            <span class="material-icons-sharp">groups</span>
            <h3>Teams</h3>
        </a>
        <a data-tooltip="Players" [routerLink]="['players']" [routerLinkActive]="['active']">
            <span class="material-icons-sharp">person_outline</span>
            <h3>Players</h3>
        </a>
        <a data-tooltip="Games" [routerLink]="['games']" [routerLinkActive]="['active']">
            <span class="material-icons-sharp">sports_basketball</span>
            <h3>Games</h3>
        </a>
        <a data-tooltip="News" [routerLink]="['news']" [routerLinkActive]="['active']">
            <span class="material-icons-sharp">feed</span>
            <h3>News</h3>
        </a>
        <a data-tooltip="Analysis" [routerLink]="['analysis']" [routerLinkActive]="['active']">
            <span class="material-icons-sharp">insights</span>
            <h3>Analysis</h3>
        </a>
        <a data-tooltip="Settings">
            <span class="material-icons-sharp">settings</span>
            <h3>Settings</h3>
        </a>
        <a data-tooltip="New Login">
            <span class="material-icons-sharp">add</span>
            <h3>New Login</h3>
        </a>
        <a data-tooltip="Logout">
            <span class="material-icons-sharp">logout</span>
            <h3>Logout</h3>
        </a>
    </div>
</aside>